.hidden {
  display: none;
}

li {
  list-style: none;
}

.body_background_1 {
  background-image: url(../img/0.jpg);
}
.body_background_2 {
  background-image: url(../img/1.jpg);
}
.body_background_3 {
  background-image: url(../img/2.jpg);
}

main {
  flex: 1;

  /*ie10*/
  -ms-flex: 1 1 auto; /*needs both shrink and grow*/
}

#form-container {
  text-align: center;
}
